# -*- mode: gitignore; -*-
*~
\#*\#
*.elc
/.cask/
/tmp/
/srecode-map.el
/semanticdb/
/.DS_Store
/url/
/local-environment.el
/ac-comphist.dat
/projectile-bookmarks.eld
/projectile.cache
/config/local-environment.el
/tramp
/TAGS
/.cask-old/
/elpa/
/ido.last
/smex-items
/.last-package-update-day
/eshell/
/server/
/places
/.mc-lists.el
*.swp
/ensime/
session.*
/elpa-outdated/
/meghanada/
/local-extras.el
/metastore_db/
/flycheck_init.el
/transient/
